/* .analytics-dashboard {

} */

.analtyics-container {
    display: flex;
    background-color: rgb(15, 15, 15);
}

.opp-analytics {
    display: flex;
    text-align: center;
    width: 50vw;
    padding: 8px;
}

.opp-analytics-hero {
    border: 1px solid rgb(88, 88, 88);
    width: 55%;
    border-radius: 16px;
    margin: 8px;
    background-color: rgb(36, 36, 36);
    color: whitesmoke;
    box-shadow: 5px 5px 10px rgb(15, 15, 15);
}

.opp-analytics-details {
    width: 40%;
}

.opp-analytics-detail-block {
    border: 1px solid rgb(88, 88, 88);
    border-radius: 16px;
    margin: 8px;
    padding: 8px;
    background-color: rgb(36, 36, 36);
    color: whitesmoke;
    box-shadow: 5px 5px 10px rgb(15, 15, 15);
}