.contacts-component {
    width: 50vw;
    border-right: 1px solid rgb(88, 88, 88);
    background-color: rgb(36, 36, 36);
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
}

.contacts-header {
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 16px 24px;
    align-items: center;
    border-top: 1px solid rgb(88, 88, 88);
    border-bottom: 1px solid rgb(88, 88, 88);
    /* border-right: 1px solid rgb(88, 88, 88); */
    background-color: rgb(26, 26, 26);
}

.contacts-tools {
    display: flex;
    justify-content: space-between;
    width: 340px;
}

.contact-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}

.contacts-container {
    padding: 16px;
}

.contacts-table {
    border: 1px solid rgb(88, 88, 88);
    padding: 8px;
    border-radius: 8px;
    height: 260px;
    overflow: scroll;
}

table {
    color: whitesmoke;
    border-collapse: collapse;
    width: 100%;
    padding: 8px;
}

th {
    border: 1px solid rgb(88, 88, 88);
    padding: 8px;
    text-align: left;
}

tr:hover {
    cursor: pointer;
}

td {
    border: 1px solid rgb(88, 88, 88);
    padding: 8px;
}
