.contacts-component {
    width: 100vw;
    border-right: 1px solid rgb(88, 88, 88);
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
}

.contacts-header {
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 16px 24px;
    align-items: center;
    border-top: 1px solid rgb(88, 88, 88);
    border-bottom: 1px solid rgb(88, 88, 88);
    /* border-right: 1px solid rgb(88, 88, 88); */
    background-color: rgb(26, 26, 26);
}

.contacts-tools {
    display: flex;
    justify-content: space-between;
    width: 340px;
}

.contact-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}

.contact-list-header {
    display: flex;
    justify-content: space-between;
}

.contacts-container {
    padding: 16px;
    width: 700px;
}

.contact-table-header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 4px 4px 0px 0px;
    background-color: rgb(15, 15, 15);
}

.name-cell {
    width: 24%;
    border-right: 1px solid rgb(88, 88, 88);
    padding: 16px 8px 16px 8px;
}

.co-cell {
    width: 24%;
    border-right: 1px solid rgb(88, 88, 88);
    padding: 16px 8px 16px 8px;
}

.date-cell {
    width: 18%;
    padding: 16px 8px 16px 8px;
}

.contacts-table {
    border: 1px solid rgb(88, 88, 88);
    padding: 8px;
    border-radius: 8px;
    height: 480px;
    background-color: rgb(36, 36, 36);
}

.contact-row-container {
    overflow: scroll;
    height: 360px;
}

table {
    color: whitesmoke;
    border-collapse: collapse;
    width: 100%;
    padding: 8px;
    background-color: black;
}

th {
    border: 1px solid rgb(88, 88, 88);
    padding: 8px;
    text-align: left;
}

tr:hover {
    cursor: pointer;
}

td {
    border: 1px solid rgb(88, 88, 88);
    padding: 8px;
}

.contact-row {
    display: flex;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 4px;
    margin: 8px 0px 8px 0px;
    background-color: rgb(15, 15, 15);
}

.contact-row:hover {
    cursor:pointer
}
