.tile-view {
    margin: auto;
    width: 90%;
    height: 71vh;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(37, 37, 37);
}

.list-view {
    margin: auto;
    width: 90%;
    height: 72vh;
    overflow: scroll;
    background-color: rgb(37, 37, 37);
    padding: 8px;
}

.app-bottom-panel {
    display: flex;
}