.opp-header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: auto;
    align-items: center;
    border-bottom: 1px solid rgb(88, 88, 88);
    color: whitesmoke;
    background-color: rgb(26, 26, 26);
}

h2 {
    margin: 0px;
}

h4 {
    margin: 0px;
}

select {
    margin: 0px 4px;
    width: 160px;
}

.opp-header-tools {
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.opp-header-sort {
    display: flex;
}

.opp-header-add {
    height: 24px;
    width: 32px;
    border: none;
    border-radius: 6px;
    color: whitesmoke;
    background-color: rgb(151, 151, 151);
    font-size: 16px;
    font-weight: bold;
}