.modal-show {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-hide {
    display: none; /* Hidden by default */
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #888;
  }
  
  /* Modal Content */
  .modal-content {
    border-radius: 16px;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 900px;
  }


  .modal-block {
    display: flex;
    justify-content: space-between;
  }

  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-form {
    border: 1px solid black;
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
  }

  .bi-input {
    width: 240px;
    height: 24px;
    padding: 4px;
    font-size: 16px;
  }

  .tri-input {
    height: 24px;
    padding: 4px;
    font-size: 16px;
  }

  .large-input {
    width: 710px;
    height: 40px;
    padding: 4px;
    font-size: 16px; 
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-top: 1px solid #888;
  }