.opp-row {
    margin: 8px 0px;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    box-shadow: 4px 4px 8px rgb(20, 20, 20);
    border: 1px solid rgb(88, 88, 88);
    border-radius: 8px;
    text-align: center;
}

.opp-row:hover {
    cursor: pointer;
}

.row-block {
    border-right: 1px solid rgb(88, 88, 88);
    width: 180px;
}

.row-block-end {
    width: 180px;
}


