hr {
    background-color: rgb(190, 190, 190);
    border: 0px;
    height: 1px;
    margin: 0px;
}

h2 {
    margin: 0px 0px 0px 0px;
}

h5 {
    margin: 0px;
}

p {
    font-size: 12px;
    margin: 4px 0px;
}

.opp-tile {
    width: 300px;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 16px;
    margin: 32px;
    padding: 0px 16px 0px 16px;
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    box-shadow: 5px 5px 10px rgb(20, 20, 20);
}

.opp-tile:hover {
    cursor: pointer;
}

.opp-card-header {
    padding: 12px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.opp-card-header span {
    margin: 0px 0px 0px 8px;
}

.opp-card-hero {
    padding: 16px 0px 16px 0px;
    height: 56px;
}

.opp-card-body {
    text-align: left;
    padding: 16px;
}

.opp-card-body-content {
    height: 44px;
    overflow: scroll;
}

.opp-card-details {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.opp-card-footer {
    padding: 16px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}